<% @get_id = Person.where("id = ?", session[:user_id]).pluck(:id).first %>
<% @user_level = Account.where("id = ?", @get_id).pluck(:user_level).first %>
<% if @user_level != 'admin' %>
   <script type="text/javascript">
      window.location.href="http://localhost:3000/reservations"
   </script>
<% end %>

<h1>Editing Payment</h1>

<%= render 'form', payment: @payment %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>
